# Python files
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Django files
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Docker files
*.pid
docker-compose.override.yml
*.log

# VS Code
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Byte-compiled / optimized / DLL files
*.py[cod]
*.dll
*.pyd

# Tests and coverage
coverage/
.coverage
*.cover
htmlcov/
.tox/
.nox/
.cache/
*.pytest_cache/
*.pytest_cache/
*.hypothesis/

# Virtualenv
.venv/
venv/
ENV/

# Migrations
**/migrations/*

# Jupyter Notebook
.ipynb_checkpoints/

# System-specific
*.swp
*.swo
